@use 'variables' as v;
@use 'mixins' as m;


body {
    overflow: auto;
    background-color: v.$color2;
    font-family: v.$fuente_principal;
    h2, h3, h4, h5 {
        font-family: 'Quicksand', sans-serif;
    }
    .texto-oscuro {
        color: v.$negro;
    }
    .texto-claro {
        color: v.$blanco;
    }
}