//TIPOGRAFIA

$fuente_principal: 'Ubuntu', monospace, sans-serif;


//COLORES

$color1: #11524E; // Brunswick green
$color2: #E4F2EB; // Mint Cream
$color3: #6F9E73; // Aspargus
$color4: #F1852C; // Orange

//COLORES DARK

$color5: #25333f; // 
$color6: #111111; //
$color7: #00FFFF; // 
$color8: #15252b; //

//COLORES GENERALES

$blanco: #FFFFFF;
$gris-claro: #e9e9e9;
$gris: #afabab;
$negro: #2A3139;
// MEDIA QUERIES

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1500px;
